*{
    margin: 0px;
    padding: 0px;
}
#notebtn{
    margin-top: 2rem;
 margin-bottom: 2rem;
 width: 8rem;
 height: 3.6rem;
 font-size: xx-large;
 font-weight: 900;
text-align: center;
 
}
div.note{
    width: 25rem;
    height: 13rem;
    overflow-y: scroll;
    background-color: aqua;
   

}
.hidden{
    display: none;
}
